@font-face {
    font-family: "Open Dyslexic";
    font-weight: regular;
    src: url("./fonts/OpenDyslexic-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Open Dyslexic";
    font-weight: bold;
    font-style: italic;
    src: url("./fonts/OpenDyslexic-BoldItalic.otf") format("opentype");
}

@font-face {
    font-family: "Open Dyslexic";
    font-weight: bold;
    src: url("./fonts/OpenDyslexic-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Open Dyslexic";
    font-style: italic;
    src: url("./fonts/OpenDyslexic-Italic.otf") format("opentype");
}

$primary: #eddd6e;
$secondary: #96ADFC;

@import "~bootstrap/scss/bootstrap";

.reader-textarea {
    @extend textarea;
    @extend .form-control;
}

.highlighted-text {
    color: #ff0080;
}

.check-textarea-wrapper {
    position: relative;
}

.check-textarea-hint-highlight {
    position: absolute;
    height: 22px;
    z-index: -1;
    
    background: $warning;
}

.check-textarea-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: white;
    border-radius: 0.25rem;
    z-index: -2;
}

.check-textarea-hint-tooltip {
    position: absolute;
    height: 22px;
    z-index: 2;
    // pointer-events: none;
}

.check-textarea  {
    background: none;
    z-index: 1;
    &:focus {
        background: none;
    }
}

body {
    background: #EDD1B0;
}

textarea.form-control, .reader-textarea {
    font-size: 14pt;
}
